<div class="company-bill-info">
  <div class="company-info-label">
    <h3>Ruc:</h3>
    <h3><%=company.ruc%></h3>
  </div>
  <div class="company-info-label">
    <h3>Factura</h3>
  </div>
  <div class="company-info-label">
    <p>No:</p>
    <p><%=bill.number%></p>
  </div>
  <div>
    <p>NÚMERO DE AUTORIZACIÓN: </p>
    <p><%=bill.accessKey%></p>
  </div>
  <div class="company-info-label">
    <p>FECHA Y HORA DE AUTORIZACIÓN:</p>
    <p><%= new Date(bill.date).getFullYear()%></p>
  </div>
  <div class="company-info-label">
    <p>AMBIENTE:</p>
    <p>PRUEBAS</p>
  </div>
  <div class="company-info-label">
    <p>EMISIÓN:</p>
    <p>NORMAL</p>
  </div>
  <div class="company-info-barcode__container">
    <div class="company-info-barcode">
      <img class="barcode-info_image" src=<%=imgBase64%> alt="barcode">
    </div>
  </div>
</div>