<div class="company-info-client">
  <div class="company-info-client__header">
    <div class="company-info-label">
      <p>Razon Social/Nombre y apellido: </p>
      <p><%= bill.name%></p>
    </div>
    <div class="company-info-label">
      <p>Identificacion: </p>
      <p><%= bill.identification%></p>
    </div>
  </div>
  <div class="company-info-label">
    <p>Fecha: </p>
    <p><%= bill.date%></p>
  </div>
  <div class="company-info-label">
    <p>Direccion: </p>
    <p><%= bill.address%></p>
  </div>
</div>