<div class="company-container">
  <div class="company-container-logo">
    <img class="company-container-logo__image " src="/images/diego.jpeg" alt="">
  </div>
  <div class="company-container-info">
    <h2><%= company.companyName %></h2>
    <div class="company-info-label" >
      <p>Direccion matriz:</p>
      <p><%= company.mainAddress %></p>
    </div>
    <div class="company-info-label">
      <p>Direccion Sucursal:</p>
      <p><%= company.mainAddress %></p>
    </div>
    <div class="company-info-label">
      <p>Contribuyente Especia:</p>
      <p>numero</p>
    </div>
    <div class="company-info-label">
      <p>Obligado a llevar contabilidad:</p>
      <p><%= company.hasAccounting ? 'SI' : 'NO'%></p>
    </div>
  </div>
</div>