<table class="detall-info__table">
  <tr>
    <th>Cod. Principal</th>
    <th>Cod. Auxiliar</th>
    <th>Cantidad</th>
    <th>Descripcion</th>
    <th>Detalles Adicionales</th>
    <th>Precio Unitario</th>
    <th>Subsidio</th>
    <th>Precio sin Subsidio</th>
    <th>Descuento</th>
    <th>Precio total</th>
  </tr>

  <% for (var i = 0; i < bill.details.length;  i++) { %>
    <tr>
      <td><%= bill.details[i].code %></td>
      <td><%= bill.details[i].otehrcode %></td>
      <td><%= bill.details[i].amount %></td>
      <td><%= bill.details[i].detail %></td>
      <td><%= bill.details[i].detail %></td>
      <td><%= bill.details[i].unitPrice %></td>
      <td><%= bill.details[i].subsidio %></td>
      <td><%= bill.details[i].sinSubsidio %></td>
      <td><%= bill.details[i].discount %></td>
      <td><%= bill.details[i].total %></td>
    </tr>    
   <% } %>
</table>  