<table>
  <tr>
    <td>SUBTOTAL 12%</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>SUBTOTAL 0%</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>SUBTOTAL NO OBJETO DE IVA</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>SUBTOTAL EXENTO DE IVA</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>SUBTOTAL SIN IMPUESTOS</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>TOTAL DESCUENTO</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>ICE</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>IVA 12%</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>TOTAL DEVOLUCION IVA</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>IRBPNR</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>PROPINA</td>
    <td>VALOR</td>
  </tr>
  <tr>
    <td>VALOR TOTAL</td>
    <td>VALOR</td>
  </tr>
</table>
