<!DOCTYPE html>
<html>

<head>
  <%- include('partials/head') %>
</head>

<body>
  <div class="container">
    <div class="container-info">
      <%- include('partials/companyInfo') %>
        <%- include('partials/billInfo') %>
    </div>
    <div>
      <%- include('partials/clientInfo') %>
    </div>
    <div class="detall-info">
      <%- include('partials/detailInfo') %>
    </div>
    <div class="total-info">
      <div>
        <div>Información Adicional</div>
        <div>
          <%- include('partials/paymentInfo') %>
        </div>
      </div>
      <div>
        <%- include('partials/totalsInfo') %>
      </div>
    </div>
  </div>
</body>

</html>