.container-info {
  display: flex;
  gap: 5px;
  padding-bottom: 5px;
}

.company-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

.company-container-info {
  border: solid 1px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-grow: 1;
  width: 95%;
}

.company-bill-info {
  border: solid 1px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  flex-grow: 1;
}

.company-container-logo {
  width: 130px;
  height: 130px;
  margin: 10px;
}

.company-container-logo__image {
  width: 100%;
  height: 100%;
}

.company-info-label {
  display: flex;
  column-gap: 10px;
  height: 30px;
}

.company-info-barcode {
  width: 350px;
}

.barcode-info_image {
  width: 100%;
}

.company-info-barcode__container {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 19px;
}

.company-info-client {
  border: solid 1px #000;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.company-info-client__header {
  display: flex;
  justify-content: space-between;
}

.detall-info {
  width: 100%;
  padding-top: 10px;
}

.detall-info__table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
  padding: 5px;
}

.total-info {
  display: flex;
  gap: 10px;
  justify-content: space-between;
}